

body{
	background: linear-gradient(#EAE6E5,#5B9279);
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 24;
}

.imagery {
		display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
		flex-direction: row;
		flex-wrap: wrap;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
}

.tvt1, .tvt2, .tvt3, .tvt4, .tvt5 {
		height: 180px;
	}

h1{
	color:#8F8073;
	font-size:5vw;
}

.artwork{
	width:100%;
	font-size:77%;
	border-radius:40px;
	padding-bottom:1px;
	padding-top:15px;
}

/*caption{
	background-color:#8F8073;
	opacity:0.6,
	text-align:center;
	border-radius:40px;
	padding-bottom:1px;
	padding-top:25px;
}*/

.story{
	color:black;
}

.selfDeath{
	border-radius:20px;
}

footer{
	position: relative;

	bottom: 5px;
}
